body{
    background-color: rgb(51, 8, 92);
}
form{
    margin: 400px;
    background-color: white;
    padding: 5px 50px 50px;
}
h1{
    text-align: center;
    font-size: 2rem;
    padding: 15px 0px 20px;
}
div>p{
    text-align: center;
}
.btn{
    display: inline;
    padding: 10px 10px 15px;
    margin: 50px;
}
.btn button{
    width: 30px;
    height: 50px;
    padding: 10px 10px;
}
.input .textlabel{
    display: block;
}
.textlabel{
    padding: 10px 10px;
}
.input input{
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0px 10px;
    border-radius: 3px;
    box-sizing: border-box;
}
#btns button{
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0px 10px;
    border-radius: 3px;
    border-color: 2px solid orangered;
    box-sizing: border-box;
    background-color: orangered;
    color: white;
}
.btn .b1{
    width: 20%;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px;
    border-radius: 10px;
    background-color: rgb(1, 1, 34);
}
.btn .b2{
    width: 20%;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px;
    border-radius: 10px;
    background-color: rgb(3, 62, 139);
}
.btn .b3{
    width: 20%;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px;
    border-radius: 10px;
    background-color: rgb(219, 37, 5);
}
