body{
    background-image: linear-gradient(to left bottom,rgba(180, 113, 243,1)20%,rgba(22, 22, 170, 1)70%,rgba(22, 59, 139,1)100%);
    height: 100vh;
}
.regform h1{
    text-align: center;
    font-size: 2em;
    font-style: bold;
    padding-top: 20px;
}
.regform{
    margin: 400px;
    background-color: white;
    border-radius: 20px;
}
.regform label{
    padding-left: 70px  ;
}
.input{
    margin-top: 5px;
    position: relative;
    display: block;
    align-items: center;
    justify-content: start;
    margin-bottom: 5px;
    margin-left: 70px;
}
.input_text{
    width: 85%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}
.pwd p{
    margin:0px;
    text-align: right;
    margin-right: 50px;
}
.btn button{
    margin-top: 20px;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 70%;
    margin-left: 70px;
    border-radius: 40px;
    background-image: linear-gradient(to left bottom,rgba(180, 113, 243, 0.7)35%,rgba(22, 22, 170, 0.7)70%,rgba(22, 59, 139, 0.4)100%);
    border: 2px solid rgb(180, 113, 243);
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}
div>p{
    text-align: center;
    padding-top: 20px;
}
.icon{
    display: flex;
    margin-left: 200px;
}
.fb{
    text-align: center;
    margin-bottom: 30px;
    margin-left: 10px;
}
.fb i{
    background-color: rgb(26, 7, 197);
    height: 30px;
    width: 30px;
    border-radius: 20px;
    padding: 0px;
}
.twit{
    background-color: rgb(49, 152, 192);
    height: 30px;
    width: 30px;
    border-radius: 20px;
}
.google{
    background-color: orangered;
    height: 30px;
    width: 30px;
    border-radius: 20px;
}
.signup p{
    text-align: center;
    margin-top: 50px;
    color: rgb(3, 3, 3);
}
.signup h4{
    text-align: center;
    margin-top: 20px;
    color: rgb(7, 7, 7);
    margin-bottom: 50px;
}