body{
    background-image: url("https://media.istockphoto.com/id/1360845064/vector/vector-illustration-minimalist-polygonal-design-nature-landscape-background-panoramic-view.jpg?s=1024x1024&w=is&k=20&c=LQ65Je2B-8GLuMnKti7Zb4En-qI9vxFvqRINaku-pOc=");
    background-size: 100%;
    background-repeat: no-repeat;   
}
.box{
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: black;
    position: fixed;
    margin-top: 100px;
}
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;  
    list-style-type: none;  
}
.main{
    position: sticky;
    top: 1px;
}
.topic{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.products{
    display: none;
}
.topic li:nth-child(3):hover .products{
    display: block;
}
.topic li:nth-child(1):hover .book{
    display: block;
}
a{
    background-color: blue;
    color: white;
    width: 200px;
    padding: 30px;
    font-size: 25px;
    display: block;
}
a:hover{
    background-color: yellow;
}
.book{
    transform: translateX(250px)translateY(-1px);
    position: absolute;
    display: none;
}
.products{
    position: absolute;

}
.para{
    text-align: justify;
    margin: 50px;
}