*{
    margin: 0px;
}
body{
    background-color: beige;
}
table{
    width: 100%;
}
table,th,td{
    border: 2px solid black;
    border: none;
    border-collapse: collapse;
    padding: 25px;
    text-align: center;
}
th{
    background-color: green; 
    color: white;
    font-size: 1.5em;
}
.a{
    background-color: green;
    color: white;
}
.b1{
    background-color: green;
    color: white;
}
.b2{
    background-color: green;
    color: white;
}
.b3{
    background-color: green;
    color: white;
}

.b4{
    background-color: green;
    color: white;
}
.b5{
    background-color: green;
    color: white;
}
.b6{
    background-color: green;
    color: white;
}
.row :nth-child(3){
    background-color: rgb(231, 93, 116);
}
tr:nth-child(even){
    background-color: grey;
}